body {
  font-family: 'Roboto', sans-serif;
  background-color: black;
}
.container {
  display: block;
  width: 100%;
  height: auto;
  margin: auto;
  max-width: 390px;
  background: white;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.heading {
  display: flex;
  height: 54px;
}

.fa-brands.fa-html5 {
  font-size: 26px;
  padding: 15px;
  padding-right: 7px;
}

h1 {
  font-size: 13px;
  height: 0;
  margin-top: 12px;
}

h6{
  margin-top: 16px;
  font-weight: lighter;
  font-size: 12px;
}

.fa-solid.fa-ellipsis-vertical {
  margin-left: 260px;
  font-size: 26px;
  padding: 15px;
}

.icons {
  display: flex;
  margin: 5px;
  margin-bottom: 0;
}

.like {
  font-size: 28px;
  margin-left: 3px;
  padding: 5px;
}

.comment {
  font-size: 28px;
  padding: 5px;
  padding-left: 2px;
}

.send {
  font-size: 28px;
  padding: 5px;
  padding-left: 2px;
}

.bookmark {
  font-size: 28px;
  padding: 5px;
  margin-left: 230px;
}

.likes, .paragraph {
  font-size: 15px;
  margin: 14px;
  text-align: justify;
}

footer {
  height: 150px;
}